<% @posts.in_groups_of(3, false).each do |group| %>

<div class='row'>
  <% group.each do |post| %>
  <div class='col-md-4 center content_box'>

    <%= react_component 'MainPostBox',
                        {
                                parentID: post.id,
                                imageSource: post.image.url(:large),
                                postTitle: post.title,
                                postPrice: number_to_currency(post.price, :unit => "$"),
                                postCommentsCount: post.comment_threads.count.to_s,
                                # userThumbSrc: post.user.image.url(:large)
                                userName: post.user.fullname,
                                initialVoteCount:post.netvotes,
                                initialHasUpvote:(current_user.voted_up_on? post),
                                initialHasDownvote:(current_user.voted_down_on? post),
                                hasDownvoteButton: false,
                                votableType: "posts"
                        }
    %>

  </div>
  <% end %>
</div>
<% end %>
