<% title("Home Page") %>

<div id="content" class="container">
  <%= render :partial => 'posts', :object => @posts %>
</div>
<p class="pagination">
  <%= link_to_next_page(@posts, 'More posts', :remote => true) %>
</p>