<div id="our-team">

  <!-- banner image -->
  <div class="container-fluid">
    <div class="row" id="our-team-banner">
    </div>
  </div>

  <!-- about us -->
  <div id="about-us" class="container-fluid">
    <div class="header centered">
      <p>ABOUT US</p>
    </div>
    <div class="centered">
      <p>
        <b>Studiocracy</b> exists to make the art world a more accessible and equitable place.
        <br>
        <br>
        We believe that art matters, and that behind every great work of art, there's an artist who worked hard to
        get there.
        <br>
        <br>
        We remove all barriers associated with entering the art market
        by making it simple for artists to create and be noticed.
        <br>
        We empower artists by building communities of support around their creative development.
        <br>
        We provide a platform for substantive engagement with art.
        <br>
      </p>
    </div>
  </div>

  <!-- in the news -->
  <!--<div id="news">-->
  <!--<div class="container-fluid text-center">-->
  <!--<div class="header centered">-->
  <!--<p>NEWS PLACEHOLDER</p>-->
  <!--</div>-->
  <!--<div class="col-xs-6">-->
  <!--<img src="assets/evt-logo.png">-->
  <!--</div>-->
  <!--<div class="col-xs-6">-->
  <!--<p>Things East Valley Tribune said about us</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!-- sponsors -->
  <div id="sponsors">
    <div class="container-fluid text-center">
      <div class="header centered">
        <p>SPONSORS</p>
      </div>
      <div class="row">
        <a href="https://entrepreneurship.asu.edu/">
          <img src="assets/edson-logo.png">
        </a>
      </div>
    </div>
  </div>

  <!-- our team -->
  <div id="our-team" class="container-fluid">
    <div class="header centered">
      <p>OUR TEAM</p>
    </div>
    <div id="julian-bio">
      <div class="col-md-6 col-xs-12">
        <img src="assets/team-pics/julian-pic.jpg">
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="sub-header">
          <p>Julian De Ocampo
          </p>
        </div>
        <p>
          <i>Founder</i>
          <br>
          Julian founded Studiocracy in March 2015 to connect arts communities and help artists get their
          work out of the studio and into the world. He studies Computer Science at Arizona State University.
          <br>
        </p>
        <p>
          <i>Favorite artwork:</i>
          <br>
          <a href="http://www.moma.org/learn/moma_learning/rene-magritte-the-lovers-le-perreux-sur-marne-1928">
            <i>The Lovers</i> by René Magritte
          </a>
        </p>
      </div>
    </div>

    <div id="other-bios" class="container-fluid text-center">
      <div class="row">
        <!-- first employee -->
        <div class="col-md-4">
          <div>
            <img src="assets/team-pics/chris-pic.jpg">
          </div>
          <div class="sub-header">
            <p>Christian Robles</p>
          </div>
          <p>
            <i>Lead Software Engineer</i>
            <br>
            Christian Robles is a developer from Claremont, California currently studying Computer Science at ASU.
            He is interested in information security and plays too many video games.
            <br>
          </p>
          <p>
            <i>Favorite artwork:</i>
            <br>
            <a href="http://www.wikiart.org/en/barnett-newman/onement-vi-1953">
              <i>Onement VI</i><br/> by Barnett Newman
            </a>
          </p>
        </div>
        <!-- second employee -->
        <div class="col-md-4">
          <div>
            <img src="assets/team-pics/alex-pic.jpg">
          </div>
          <div class="sub-header">
            <p>Alex Gross</p>
          </div>
          <p>
            <i>UI/UX Designer</i>
            <br>
            Alex Gross is an art student and DIY enthusiast who makes visual art and music under the mononym wimpus
            because there is already a famous painter with his name, something he is still pretty bitter about.
            <br>
          </p>
          <p>
            <i>Favorite artwork:</i>
            <br>
            <a href="http://www.wikiart.org/en/ilya-repin/ivan-the-terrible-and-his-son-ivan-on-november-16-1581-1885">
              <i>Ivan the Terrible Killing His Son</i><br/> by Ilya Repin
            </a>
          </p>
        </div>
        <!-- third employee -->
        <div class="col-md-4">
          <div>
            <img src="assets/team-pics/ritika-pic.jpg">
          </div>
          <div class="sub-header">
            <p>Ritika Tamirisa</p>
          </div>
          <p>
            <i>Operations Manager</i>
            <br>
            Ritika is a biochemistry student from Arizona who plays with DNA in her free time.
            She loves baby animals and making goat noises.
            <br>
          </p>
          <p>
            <i>Favorite artwork:</i>
            <br>
            <a href="http://www.moma.org/collection/works/80220">
              <i>Reflections of Clouds on the Water-Lily Pond</i><br/> by Claude Monet
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <!-- first employee -->
        <div class="col-md-4">
          <div>
            <img src="assets/team-pics/andrew-pic.jpg">
          </div>
          <div class="sub-header">
            <p>Andrew Robinson</p>
          </div>
          <p>
            <i>Marketing Specialist</i>
            <br>
            Andrew Robinson is our marketing strategist and a Digital Culture student at Arizona State University.
            <br>
          </p>
          <p>
            <i>Favorite artwork:</i>
            <br>
            <a href="http://www.uffizi.org/artworks/the-birth-of-venus-by-sandro-botticelli/">
              <i>The Birth of Venus</i><br/> by Sandro Botticelli
            </a>
          </p>
      </div>
    </div>
  </div>
    </div>

  <!-- contributors -->
  <div id="contributors" class="container-fluid">
    <div class="row">
    <div class="header centered">
      <p>CONTRIBUTORS</p>
    </div>
    <div class="centered">
      <p>Neilly Tan · Nathan Hill · Daven Sa · Isabella Tapia<br>
        Brock Whittaker · Ariel Shamas · Jordan Parra<br>
        </p>
    </div>
      </div>
  </div>
</div>