$grey: #989898;
$dark-grey: #444444;

.search-group{
  height: 38px;
  font-size: 16px;
  line-height: 1.42857143;
  border: 2px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 238px;
}

#search-box{
  background-color: $dark-grey;
  color: $grey;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    $grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $grey;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $grey;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    $grey;
}

.search-button{
  color: $dark-grey;
  padding:0;
  border:0;
  width:33px;
  height:38px;
  background-color: $dark-grey;
  //height:100%;
  button{
    background-color: $dark-grey;
    height: 38px;
  }
}

.search-button img{
  height:22px;
  padding: 1px 1px 1px 0px;
  overflow: visible;
  margin:auto;
  width: 59%;
}