<form class="navbar-form navbar-left" role="search">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="search..." id="search-box">
    <div class="input-group-btn search-button">
      <button class="btn btn-default" type="submit">
        <%= image_tag('icons/magnifying_glass.png') %>
        </button>
    </div>
  </div>
</form>