<form class="navbar-form navbar-left" role="search">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="search..." id="search-box">
    <div class="input-group-btn">
      <button class="btn btn-default" id="search-button" type="submit"><img src="assets/icons/magnifying_glass.png" width="60%"></button>
    </div>
  </div>
</form>